# NOTE-EVENTS

In [1]:
import pandas as pd
import numpy as np

In [ ]:
enotes = pd.read_csv('../NOTEEVENTS.csv')

In [36]:
enotes.count()

ROW_ID         2083180
SUBJECT_ID     2083180
HADM_ID        1851344
CHARTDATE      2083180
CHARTTIME      1766614
STORETIME      1246404
CATEGORY       2083180
DESCRIPTION    2083180
CGID           1246404
ISERROR            886
TEXT           2083180
dtype: int64

In [7]:
enotes.CATEGORY.unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ',
       'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition',
       'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology',
       'Nursing/other'], dtype=object)

total available notes counts by category

In [26]:
notesub = enotes.drop(['ROW_ID', 'CHARTDATE', 'CHARTTIME','STORETIME','DESCRIPTION','CGID', 'ISERROR','TEXT'], axis = 1)
notesub.groupby('CATEGORY').count()

                   SUBJECT_ID  HADM_ID
CATEGORY
Case Management           967      954
Consult                    98       98
Discharge summary       59652    59652
ECG                    209051   138190
Echo                    45794    34037
General                  8301     8209
Nursing                223556   220758
Nursing/other          822497   821258
Nutrition                9418     9378
Pharmacy                  103      102
Physician              141624   140100
Radiology              522279   378920
Rehab Services           5431     5409
Respiratory             31739    31667
Social Work              2670     2612

All suicide related ICD-9 codes obtained from short/long descriptions and ICD-10 mapping

In [14]:
suicide_codes = ["E9500", "E9501", "E9502", "E9503", "E9504", "E9505", "E9506", "E9507", "E9508", "E9509", "E9510", "E9511", "E9518", "E9520", "E9521", "E9528", "E9529", "E9530", "E9531", "E9538", "E9539", "E954", "E9550", "E9551", "E9552", "E9553", "E9554", "E9555", "E9556", "E9557", "E9559", "E956", "E9570", "E9571", "E9572", "E9579", "E9580", "E9582", "E9583", "E9584", "E9585", "E9586", "E9587", "E9588", "E9589", "V6284", "V1559", "V5889", "9089"]

In [12]:
df_dia = pd.read_csv('../DIAGNOSES_ICD.csv')

total number of incidents (888) assocaited with suicide ICD codes:

In [16]:
df_suicide = df_dia.loc[df_dia['ICD9_CODE'].isin(suicide_codes)]

total number of patients (478) associated with suicide ICD codes:

In [ ]:
df_patients_suicide = df_dia_suicide.SUBJECT_ID.sort_values().unique()

Patients with most suicide related incidents

In [32]:
df_suicide[df_suicide.duplicated(['SUBJECT_ID'], keep = False)].groupby('SUBJECT_ID').count().sort_values(by='ROW_ID', ascending=False).head()

            ROW_ID  HADM_ID  SEQ_NUM  ICD9_CODE
SUBJECT_ID
58389            6        6        6          6
29862            6        6        6          6
65954            5        5        5          5
81662            5        5        5          5
31881            5        5        5          5

In [33]:
df_suicidenotes = pd.merge(df_suicide, notesub, on = 'SUBJECT_ID', how = 'inner')

In [35]:
df_suicidenotes.groupby('CATEGORY').count()

,ROW_ID,SUBJECT_ID,HADM_ID_x,SEQ_NUM,ICD9_CODE,HADM_ID_y
CATEGORY,,,,,,
Case Management,48,48,48,48,48,48
Consult,7,7,7,7,7,7
Discharge summary,1432,1432,1432,1432,1432,1432
ECG,5014,5014,5014,5014,5014,3491
Echo,447,447,447,447,447,331
General,191,191,191,191,191,190
Nursing,5836,5836,5836,5836,5836,5708
Nursing/other,5806,5806,5806,5806,5806,5762
Nutrition,158,158,158,158,158,158
Physician,3940,3940,3940,3940,3940,3836
Radiology,10944,10944,10944,10944,10944,7669
Rehab Services,86,86,86,86,86,82
Respiratory,638,638,638,638,638,638
Social Work,293,293,293,293,293,286

In [3]:
df_trans = pd.read_csv('../DIAGNOSES_ICD.csv')

In [6]:
transplant_codes = ['V420','V421','V422','V423','V424','V425','V426','V427','V4281','V4282','V4283','V4284','V4289','V429']

In [8]:
df_transplant = df_trans.loc[df_trans['ICD9_CODE'].isin(transplant_codes)]

In [18]:
df_transplant.groupby('ROW_ID').count()

        SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
ROW_ID
664              1        1        1          1
683              1        1        1          1
2111             1        1        1          1
2144             1        1        1          1
2159             1        1        1          1
2352             1        1        1          1
2640             1        1        1          1
2881             1        1        1          1
3779             1        1        1          1
3802             1        1        1          1
3817             1        1        1          1
3842             1        1        1          1
3843             1        1        1          1
4372             1        1        1          1
4678             1        1        1          1
5477             1        1        1          1
5828             1        1        1          1
5830             1        1        1          1
8587             1        1        1          1
8634             1        1        1          1
8824             1        1        1          1
9002             1        1        1          1
9016             1        1        1          1
9196             1        1        1          1
9740             1        1        1          1
11044            1        1        1          1
12818            1        1        1          1
12833            1        1        1          1
12837            1        1        1          1
12994            1        1        1          1
...            ...      ...      ...        ...
631624           1        1        1          1
631783           1        1        1          1
632401           1        1        1          1
632849           1        1        1          1
633258           1        1        1          1
633498           1        1        1          1
633499           1        1        1          1
634631           1        1        1          1
634644           1        1        1          1
634645           1        1        1          1
634977           1        1        1          1
635034           1        1        1          1
637787           1        1        1          1
637809           1        1        1          1
638766           1        1        1          1
640470           1        1        1          1
641594           1        1        1          1
641920           1        1        1          1
643365           1        1        1          1
643578           1        1        1          1
646006           1        1        1          1
646238           1        1        1          1
647043           1        1        1          1
648017           1        1        1          1
648860           1        1        1          1
649487           1        1        1          1
650386           1        1        1          1
650946           1        1        1          1
650973           1        1        1          1
650989           1        1        1          1

[1217 rows x 4 columns]

In [17]:
df_trans

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
5         1302         109   172335      6.0      2762
6         1303         109   172335      7.0      7100
7         1304         109   172335      8.0      2767
8         1305         109   172335      9.0      7243
9         1306         109   172335     10.0     45829
10        1307         109   172335     11.0      2875
11        1308         109   172335     12.0     28521
12        1309         109   172335     13.0     28529
13        1310         109   172335     14.0     27541
14        1311         109   173633      1.0     40301
15        1312         109   173633      2.0      5856
16        1313         109   173633      3.0     58381
17        1314         109   173633      4.0      7100
18        1315         109   173633      5.0      5589
19        1316         109   173633      6.0      2875
20        1317         109   173633      7.0     28521
21        1318         109   173633      8.0     45829
22        1319         109   173633      9.0     32723
23        1320         109   173633     10.0     22804
24        1321         109   173633     11.0     33829
25        1322         109   173633     12.0     78900
26        1323         109   173633     13.0     79092
27        1324         109   173633     14.0     V4511
28        1488         112   174105      1.0     53100
29        1489         112   174105      2.0     41071
...        ...         ...      ...      ...       ...
651017  639773       97488   161999     18.0      3051
651018  639774       97488   161999     19.0      7843
651019  639775       97488   161999     20.0      0414
651020  639776       97488   161999     21.0     30391
651021  639777       97488   161999     22.0     E8798
651022  639778       97488   161999     23.0     78791
651023  639779       97488   161999     24.0     V4986
651024  639780       97492   189314      1.0     34680
651025  639781       97492   189314      2.0      7843
651026  639782       97492   189314      3.0      7455
651027  639783       97492   189314      4.0     78194
651028  639784       97492   189314      5.0     36840
651029  639785       97492   189314      6.0      7813
651030  639786       97492   189314      7.0      7820
651031  639787       97492   189314      8.0       311
651032  639788       97497   168949      1.0      0529
651033  639789       97497   168949      2.0      4162
651034  639790       97497   168949      3.0     20192
651035  639791       97497   168949      4.0       135
651036  639792       97497   168949      5.0     27669
651037  639793       97497   168949      6.0      5178
651038  639794       97497   168949      7.0     42731
651039  639795       97497   168949      8.0     V5861
651040  639796       97497   168949      9.0     45829
651041  639797       97503   188195      1.0      7842
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]